:root{
    --bg-color: #000000;
    --green: #1db954;
    --white: #ffffff;
    --grey: #363535;
    --font-style: 'Ink Free';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
    color: var(--white);
    font-family: var(--font-style);
}

.scroll-margin{
    scroll-margin-top: 3em;
}

h3{
    padding: 1em 1em 0.3em;
}
h4{
    padding-bottom: 0.5em;
}

.grey{
    color: var(--grey);
}
.green{
    color: var(--green);
}
/*  */
.one{
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 1em 0;
}

.greet-text p{
    font-size: 13px;
    font-weight: 600;
    padding: 0.7em 1em;
}

.head-icon{
    padding-top: 1em;
}

.form-field{
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
}
form{
    border: 1px solid var(--grey);
    width: 300px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
input{
    width: 85%;
    background: var(--bg-color);
    border-radius: inherit;
    padding-inline-start: 1em ;
    border: none;
    color: var(--white);
    caret-color: var(--green);
 }
 input:focus{
    outline: none;
 }
input::placeholder{
    font-size: 11px;
}
form button{
    background: var(--bg-color);
    border: none;
    width: 15px;
    height: 15px;
}
form button img{
    width: 100%;
    height: 100%;
}

@media(max-width: 500px){
    .form-field{
        justify-content: flex-start;
        padding-left: 1em;
    }
}
/*  */


.sticky{
    background: var(--bg-color);
    position: sticky;
    padding-bottom: 0.5em;
    top:0;
    right: 0;
    z-index: 100;
}

.two{
    display: flex;
    gap: 20px;
    padding: 2em 1em 0;
    & li{
    list-style: none;
    border: none;
}
}

.two li a{
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    position: relative;
    /* controls the line movement */
    display: flex;
    justify-content: center; 
}

.two li a::before{
    content: '';
    width: 20%;
    height: 1.2px;
    position: absolute;
    background-color: var(--grey);
    bottom: -6px;
    transition: all 500ms ease-in;
}
.two li a:hover::before{
    background-color: var(--green);
    width: 100%;
}


.side-nav{
    background-color: var(--green);
    width: 18px;
    height: 35px;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 99;
    border-radius: 35px 0 0 35px;
    transform: translateY(-50%);
    transition: all 500ms ease-out;
    &:hover{
        width: 25px;
        height: 38px;
    }
}



.recents{
    display: flex;
    justify-content: center;
    padding: 3em 0;
}
.recent-box{
    width: 95vw;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.back{
    border-radius: 50px;
    position: relative;
    box-shadow: 1px 1px 3px #131313,
    -1px -1px 3px #3e3e3e;
}

.back::before{
    content: '';
    position: absolute;
    width: 10%;
    height: 50%;
    border-radius: 50%;
    opacity: 0.4;
    top: 10px;
    right: 8px;
    transform: translate(10%, 30%);
}
.back:hover::before{
    background: var(--grey);
}
.back:hover{
    color: var(--green);
}
.recent{
    background: rgba(184, 183, 183, 0.1);
    position: relative;
    display: flex;
    border-radius: inherit;
    overflow: hidden;
    height: 100%;
    backdrop-filter: blur(10px);
}

.img-div{
    width: 25%;
    & img{
    width: 100%;
    height: 100%;
}
}

.text-div{
    display: flex;
    align-items: center;
    padding-inline-start: 0.8em; 
    width: 75%;
    font-size: 13px;
    font-weight: 600;
}

@media (max-width: 500px) {
    .recent-box{
        grid-template-columns: repeat(1, 1fr);
    }
}


/*  */
.artists{
    display: flex;
    align-items: center;
    height: 30vh;
    padding: 0.5em 1em;
    gap: 20px;
    overflow-x: scroll;
}
.artists::-webkit-scrollbar{
    display: none;
}
.artists .jump,
.artist-card{
    min-width: 200px;
    height: 90%;
}
.artist-card{
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.artist-front,
.artist-back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
}

.artist-front img{
    width: 100%;
    height: 100%;
}
.artist-back{
    color: var(--green);
    text-align: center;
    padding: 0.5em 0.3em 1em;
    box-shadow: 1px 1px 3px var(--green),
    -1px -1px 3px var(--grey);
    transform: rotateY(180deg);
}
.artist-back p {
    font-size: 12px;
    padding: 0.3em 0.3em ;
    color: var(--white);
}

.artist-card:hover .artist-back{
    transform: rotateY(0deg);
}
.artist-card:hover .artist-front{
    transform: rotateY(-180deg);
}


.artists .jump{
    border-radius: 50%;
}
.jump img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}


@media(max-width: 500px){
    .artists .jump,
    .artist-card{
    min-width: 150px;
    height: 70%;
}
}
/*  */

.podcast{
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.pod-display{
    height: 55%;
    padding: 0 0.3em 0;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.pod-img{
    max-width: 70%;
    height: 60%;
    border-radius: 10px;
    & img{
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }
}
.podname{
    text-align: center;
}
.go-left{
    width: 35px;
    height: 35px;
    & img {
        width: 100%;
        height: 100%;
    }
}

.pod-icons{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 70px;
}
.pod-icon{
    width: 40px;
    height: 40px;
    position: relative;
}
.pod-icon img{
    width: 100%;
    height: 100%;
}

#pause{
    position: absolute;
    opacity: 0;
}

.bars{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 5em;
}

.bars div{
    width: 1px;
    height: 3px;
    background-color: #3f3f3d;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    &:nth-child(1){
        animation-name: one;
    }
    &:nth-child(2){
        animation-name: two;
    }
    &:nth-child(3){
        animation-delay: 0.8s;
        animation-name: three;
    }
    &:nth-child(4){
        animation-delay: 1.2s;
        animation-name: four;
    }
    &:nth-child(5){
        animation-delay: 1.6s;
        animation-name: two;
    }
    &:nth-child(6){
        animation-delay: 2.0s;
        animation-name: five;
    }
    &:nth-child(7){
        animation-delay: 2.4s;
        animation-name: six;
    }
    &:nth-child(8){
        animation-delay: 2.8s;
        animation-name: three;
    }
    &:nth-child(9){
        animation-delay: 3.2s;
        animation-name: four;
    }
    &:nth-child(10){
        animation-delay: 3.6s;
        animation-name: two;
    }
    &:nth-child(11){
        animation-delay: 4.0s;
        animation-name: one;
    }
    &:nth-child(12){
        animation-delay: 4.4s;
        animation-name: three;
    }
    &:nth-child(13){
        animation-delay: 4.8s;
        animation-name: one;
    }
    &:nth-child(14){
        animation-delay: 5.2s;
        animation-name: three;
    }
    &:nth-child(15){
        animation-delay: 5.6s;
        animation-name: four;
    }
    &:nth-child(16){
        animation-delay: 6.0s;
        animation-name: five;
    }
    &:nth-child(17){
        animation-delay: 6.4s;
        animation-name: two;
    }
    &:nth-child(18){
        animation-delay: 6.8s;
        animation-name: one;
    }
    &:nth-child(19){
        animation-delay: 7.2s;
        animation-name: two;
    }
    &:nth-child(20){
        animation-delay: 7.6s;
        animation-name: three;
    }
    &:nth-child(21){
        animation-delay: 8.0s;
        animation-name: four;
    }
    &:nth-child(22){
        animation-delay: 8.4s;
        animation-name: two;
    }
    &:nth-child(23){
        animation-delay: 8.8s;
        animation-name: five;
    }
    &:nth-child(24){
        animation-delay: 9.2s;
        animation-name: six;
    }  
    &:nth-child(25){
        animation-delay: 9.6s;
        animation-name: three;
    }
    &:nth-child(26){
        animation-delay: 10.2s;
        animation-name: four;
    }
    &:nth-child(27){
        animation-delay: 10.6s;
        animation-name: two;
    }
    &:nth-child(28){
        animation-delay: 11s;
        animation-name: one;
    }
    &:nth-child(29){
        animation-delay: 11.4s;
        animation-name: three;
    }
    &:nth-child(30){
        animation-delay: 11.8s;
        animation-name: one;
    }
    &:nth-child(31){
        animation-delay: 12.2s;
        animation-name: three;
    }
    &:nth-child(32){
        animation-delay: 12.6s;
        animation-name: four;
    }
    &:nth-child(33){
        animation-delay: 13.2s;
        animation-name: one;
    }
    &:nth-child(34){
        animation-delay: 13.6s;
        animation-name: one;
    }
    &:nth-child(35){
        animation-delay: 14.2s;
        animation-name: one;
    }
    &:nth-child(36){
        animation-delay: 14.6s;
        animation-name: one;
    }
    &:nth-child(37){
        animation-delay: 15.2s;
        animation-name: one;
    }              
}

@keyframes one{
    50%{
        height: 15px;
        background-color: #2dd7d7;
    }
    100%{
        background-color: #3f3f3d;
    }
}
@keyframes two{
    50%{
        height: 17px;
        background-color: #2dd7d7;
    }
    100%{
        background-color: #3f3f3d;
    }
}
@keyframes three{
    50%{
        height: 28px;
        background-color: #2dd7d7;
    }
    100%{
        background-color: #3f3f3d;
    }
}
@keyframes four{
    50%{
        height: 24px;
        background-color: #2dd7d7;
    }100%{
        background-color: #3f3f3d;
    }
}
@keyframes five{
    50%{
        height: 18px;
        background-color: #2dd7d7;
    }100%{
        background-color: #3f3f3d;
    }
}
@keyframes six{
    50%{
        height: 19px;
        background-color: #2dd7d7;
    }100%{
        background-color: #3f3f3d;
    }
}



/*  */

.rec{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.rec .tape{
    max-width: 60%;
    height: 35%;
    border-radius: 70px;
    border: 0.1px solid var(--green);
    opacity: 0.1;
}

.rec .tape img{
    width: 100%;
    height: 100%;
}

.tape-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.tape-text button{
    width: 90px;
    height: 50px;
    background: var(--bg-color);
    color: var(--grey);
    border: none;
    padding: 0.8em 1em;
    border-radius: 20px;
    position: relative;
}

.tape-text button::before,
.tape-text button::after{
    content: '';
    position: absolute;
    border-radius: inherit;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background-image: linear-gradient(235deg, var(--green), #060c21, #00bcd4);
}
.tape-text button:hover{
    color: #fff;
    text-shadow: 
    0 0 7px #fff,
    0 0 12px var(--white),
    0 0 21px var(--white),
    0 0 42px var(--green),
    0 0 82px var(--green);
}
.tape-text button::before{
    z-index: -1;
}
.tape-text button::after{
    z-index: -2;
    filter: blur(10px);
}


@media (max-width: 600px){
    .rec{
        flex-direction: column;
    }
    
}




/*  */
.footer{
    height: 50vh;
    background-color: var(--green);
    background-image: url(./imgs/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.footer-text{
    padding: 0.5em 0 0 2em;
    color: var(--bg-color);
    font-size: 13px;
    font-weight: 600;
}
.footer-text span{
    font-weight: 900;
    font-size: 20px;
}

.foot-icon{
    padding: 0 1em 0.8em 0;
    display: flex;
    justify-content: flex-end;
}

.icon{
    display: flex;
    gap: 10px;
}

.imgcont{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
}
.imgcont:hover{
    background: var(--green);
    & img{
        filter: drop-shadow(-0.5px 0px 3px rgba(29, 185, 84,0.7))
    }
}

.imgcont img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    filter: drop-shadow(-0.5px 0px 2px var(--white));
}


